<h5>ALL RESERVATIONS</h5>
<%= render "layouts/errors", object: @reservation unless @reservation == nil %>
<div class="">
  <h6 class="tighter">UPCOMING</h6>
    <%=render partial: 'reservation', collection: @dinners_future, as: :d%>
</div>
<br>
<div class="">
  <h6 class="tighter">PAST</h6>
    <%=render partial: 'reservation', collection: @dinners_past, as: :d%>
</div>
