<h4>All Reservations</h4>

<h5>Upcoming</h5>
<%= render partial: "shared/dinners/dinners", collection: current_user.dinners.in_the_future, locals: { time: "past" } %>


<h5>Past</h5>
<%= render partial: "shared/dinners/dinners", collection: current_user.dinners.in_the_past, locals: { time: "future" } %>
