<h5>ALL DINNERS</h5>
<%= link_to "Create a new dinner", new_admin_dinner_path, class: "button" %>
<%= render partial: "shared/dinners/dinners", collection: @dinners %>

<div class="modal">
  <div class="modal-inner">
    <div class="modal-content">
      <div class="modal-close-icon">
        <a href="javascript:void(0)" class="close-modal"><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <div class="modal-content-inner">
        <h4 class="reservation-title">Reservation</h4>
        <form class="reservation-form">
          <div class="reservation-partyof">
            Party of:
            <input type="number" name="party-of"><br>
          </div>
        </form>
      </div>
      <hr class="modal-buttons-seperator">
      <div class="modal-buttons">
        <button class="button close-modal">Cancel</button>
        <button class="button button-primary close-modal submit">OK</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(setModal);
</script>
