<h4>Dishes:</h4>
<div class="dishes-container">
  <% @dishes.each do |d| %>
    <%= form_for d, url: admin_dish_path(d), html: {method: "patch"} do |f| %>
      <%= render '/layouts/errors', object: f.object %>
      <%= render '/shared/dishes/dish_fields', f: f %>
      <%= f.submit %>
    <% end %>
  <% end %>

</div>
